# Dependencias principales del proyecto
asttokens
babel==2.17.0
cachetools==6.2.2
certifi==2025.11.12
charset-normalizer==3.4.4
colorama
comm
DateTime==6.0
db-dtypes==1.4.3
debugpy
decorator
et_xmlfile==2.0.0
exceptiongroup==1.3.1
executing
google-api-core==2.28.1
google-auth==2.43.0
google-auth-oauthlib==1.2.2
google-cloud-bigquery==3.38.0
google-cloud-bigquery-storage==2.32.0
google-cloud-core==2.5.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.72.0
greenlet==3.2.4
grpcio==1.76.0
grpcio-status==1.76.0
holidays==0.85
idna==3.11
importlib_metadata
iniconfig==2.3.0
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest_asyncio
numpy==2.2.6
oauthlib==3.3.1
openpyxl==3.1.5
packaging
pandas==2.3.3
pandas-gbq==0.29.2
parso
pathlib==1.0.1
platformdirs
pluggy==1.6.0
prompt_toolkit
proto-plus==1.26.1
protobuf==6.33.1
psutil
pure_eval
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydata-google-auth==1.9.1
Pygments
pyodbc==5.3.0
pytest==9.0.1
python-dateutil
pytz==2025.2
pywin32
PyYAML==6.0.3
pyzmq
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
schedule==1.2.2
six
SQLAlchemy==2.0.44
sqlalchemy-access==2.0.3
stack_data
tkcalendar==1.6.1
tomli==2.3.0
tornado
traitlets
typing==3.7.4.3
typing_extensions
tzdata==2025.2
Unidecode==1.4.0
urllib3==2.5.0
wcwidth
xlrd==2.0.2
zipp
zope.interface==8.1.1

# Dependencia interna (instalar manualmente o agregar a tu repositorio)
# bfa-cl-utilidades @ git+https://gitlab.falabella.tech/rmunozb/bfa-cl-utilidades.git
